<form class="row g-3 col-md-6" method="post">

  <div class="col-md-3 mb-3">
    <label class="form-label">Velocity field:</label>

    <div class="form-check">
      {% if VELOCITY == "ARMOR3D" %}
      <input class="form-check-input" type="radio" name="VELOCITY" value="ARMOR3D" id="flexRadioDefault1" checked>
      {% else %}
      <input class="form-check-input" type="radio" name="VELOCITY" value="ARMOR3D" id="flexRadioDefault1">
      {% endif %}
      <label class="form-check-label" for="flexRadioDefault1">
        ARMOR3D
      </label>
    </div>
    <div class="form-check">
      {% if VELOCITY == "GLORYS" %}
      <input class="form-check-input" type="radio" name="VELOCITY" value="GLORYS" id="flexRadioDefault2" checked>
      {% else %}
      <input class="form-check-input" type="radio" name="VELOCITY" value="GLORYS" id="flexRadioDefault2">
      {% endif %}
      <label class="form-check-label" for="flexRadioDefault2">
        GLORYS (Forecast)
      </label>
    </div>
  </div>

  <div class="col-md-9 mb-3">
    <label for="customNfloats" class="form-label">Number of virtual floats: <span id="nfloats_value">{{NFLOATS}}</span></label>
    <input type="range" class="form-range" min="100" max="5000" step="100" id="customNfloats" name="nfloats" value="{{NFLOATS}}">
  </div>

  <div class="col-md-12 mb-3">
    <div class="input-group mb-3">
      <span class="input-group-text">Float</span>
      {% if WMO is not none %}
      <input type="text" class="form-control" placeholder="WMO" aria-label="WMO" name="WMO" value="{{WMO}}" required>
      {% else %}
      <input type="text" class="form-control" placeholder="WMO" aria-label="WMO" name="WMO" required>
      {% endif %}
      <span class="input-group-text">Cycle</span>
      {% if CYC is not none %}
      <input type="text" class="form-control" placeholder="CYC" aria-label="CYC" name="CYC" value="{{CYC}}" required>
      {% else %}
      <input type="text" class="form-control" placeholder="CYC" aria-label="CYC" name="CYC" required>
      {% endif %}
    </div>
  </div>

  <div class="col-md-12 mb-3">
    <label class="form-label">Float configuration:</label>

    <div class="input-group mb-3">
      <span class="input-group-text">Parking Depth</span>
      <input type="text" class="form-control" placeholder="{{CFG_PARKING_DEPTH}} db" aria-label="parking_depth" name="cfg_parking_depth">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Cycle duration</span>
      <input type="text" class="form-control" placeholder="{{CFG_CYCLE_DURATION}} hours" aria-label="cycle_duration" name="cfg_cycle_duration">
    </div>

  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary"><span data-feather="cpu" class="align-text-bottom"></span>&nbsp;Trigger prediction</button>
  </div>

</form>